{{define "content"}}
<h1> So this is the healthcheck page</h1>
<p>
    <ol>
        <ul>Status: {{.Status}} </ul>
        <ul>Environment {{.Environment}}</ul>
        <ul>Version {{.Version}}</ul>
    </ol>
</p>
{{end}}